            .jskmb-calculator {
                max-width: 500px;
                margin: 70px auto;
                text-align: center;
                background-color: rgb(178, 185, 199);
                padding: 40px;
                border: 2px solid grey;
                font-size: 15px;
                /* font-weight: bold; */
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            
            .jskmb-calculator .operations-block button {
                width: 70px;
                height: 70px;
                margin: 20px 25px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                border: 2px solid grey;
                font-size: 15px;
                font-weight: bold;
                /* font-family: Georgia, 'Times New Roman', Times, serif; */
            }
            
            .jskmb-calculator .hr {
                box-shadow: 2px 2px 3px 1px rgb(122, 142, 179);
            }
            
            .jskmb-calculator .inputs-block .labInp {
                display: inline-block;
                padding: 20px;
            }
            
            .jskmb-calculator .inputs-block .labInp label {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .jskmb-calculator .result {
                height: 30px;
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                /* border: cornflowerblue solid 2px; */
            }
            
            .jskmb-calculator .result .div {
                /* width: 55px;
                height: 30px; */
                /* margin: auto; */
            }
            /* .jskmb-calculator .result div {
                align-items: center;
                height: 40px;
                width: 60px;
            } */
            
            .jskmb-calculator .result input {
                border: cornflowerblue solid 2px;
                width: 100px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Georgia, 'Times New Roman', Times, serif;
                background-color: rgb(67, 114, 129);
                margin: 5px 10px;
                text-align: center;
            }